*{
	margin: 0;
	padding: 0;
	font-family:arial,serif,sans-serif;
}
#divtop
{
	display: flex;
}
#maphoto
{
	width:30%;
	background-color: #FACD11;
}
#pic
{
	display: block;
	margin:auto;
	border-radius: 50%;
	
}
#nom
{
	padding-top: 50px;
	margin-bottom: 90px;
	width: 70%;
	margin-left: 5%;
}
#prenom
{
	font-family: sans-serif;
	font-size: 45px;
	color: #FEC729;
}

#familyName
{
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 45px;
}
#profession
{
	font-size: 20px;
}
#line
{
	border-bottom: 2px solid #FEC729;
}
#main
{
	display: flex;
}
#jaune
{
	background-color: #FACD11;
	width: 30%;
	display: inline-block;
}
.div_de_gauche
{
	background-color: #454340;
	color: #FACD11;
	text-align: center;
	font-size: 20px;
	margin: 25px 0px;
}
div ul
{
	list-style: none;
}
.infos
{
	line-height: 20px;
	margin-left: 32px;
	margin-bottom: 20px;
	font-size: 15px;
	list-style: none;
}
.information
{
	line-height: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
	padding-right: 10px;
	padding-bottom: 250px;
	font-size: 15px;
}
#loisir
{
	display: flex;
}

#blanche
{
	width: 70%;
	margin-left: 5%;
	display: inline-block;
}

.titre
{
	margin-left: 16px;
	margin-bottom:8px;
	margin-top: 32px;
}
.droite
{
	display:flex;
	margin-bottom: 20px;
}
.yellowBorder
{
	border-top: solid 2px #FEC729;
	padding-top: 40px;
}
.petiteDivDroite
{
	width: 40%;
	margin-left: 96px;
}
.petiteDivGauche
{
	width: 40%;
	font-size: 15px;
}
.far
{
	font-size: 15px;
	color: #FEC729;
	margin-right: 10px;
}
.fas
{
	font-size: 10px;
	color: #FEC729;
	margin-right:10px;
}
.fa-graduation-cap
{
	font-size: 30px;
}
.fa-briefcase
{
	font-size: 30px;
}
.fa-pen
{
	font-size: 30px;
}
.icon
{
	color: #0E0E0D;
	font-size: 40px;
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 15px;
}

/* media queries for screens of less than 500px */
@media all and (max-width: 500px) {

	*{
		margin:0;
		padding:0;
	}
	#divtop{
		display: flex;
		flex-direction: column;
	}

	#maphoto{
		width: 100%;
	}

	#pic{
		margin: 20px auto;
	}
	h1{
		display: flex;
	}

	#prenom{
		font-size: 25px;
	}
	#familyName{
		font-size: 25px;
	}
	#profession{
		font-size: 15px;
	}
	#main{
		display: flex;
		flex-direction: column-reverse;
		width:100%;
		
	}
	#jaune{
		width: 100%;
		font-size: 10px;
	}
	.div_de_gauche
	{
	background-color: #454340;
	color: #FACD11;
	text-align: center;
	margin-top:0;
	}
	.titre{
		font-size: 15px;
	}

	.droite
	{
		display:flex;
		width: 100%;
	}

	h3{
		font-size: 13px;
	}

	p
	{
		font-size: 14px;
	}
	.petiteDivGauche{
		width: 30%;
		margin-right: 25px;
	}
	.petiteDivDroite{
		width: 50%;
		margin-left: 25px;
	}
	.far
	{
		font-size: 10px;
	}	
	.fa-graduation-cap{
		font-size: 20px;
		margin-left: 0px;

	}
	.fa-briefcase{
		font-size: 20px;
		margin-left:0px;

	}
	.fa-pen{
		font-size: 20px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
	*{
		margin:0;
		padding:0;
	}
	#divtop{
		display: flex;
		width: 100%;
	}

	#maphoto{
		width: 30%;
	}

	#pic{
		margin: 15px auto;
	}
	h1{
		display: flex;
		width: 70%;
	}
	#prenom{
		margin-right: 10px;
	}
	#main{
		display: flex;
		width:100%;
		
	}
	#jaune{
		width: 30%;
		font-size: 10px;
	}
	#blanche{
		width: 70%;
	}

	.droite
	{
		display:flex;
		width: 100%;
	}
	.petiteDivGauche{
		width: 30%;
		margin-right: 30px;
	}
	.petiteDivDroite{
		width: 50%;
		margin-left: 30px;
	}
	.icon{
		font-size: 20px;
	}
	p{
		font-size: 14px;
	}

}
		








