*{
	margin: 0;
	padding: 0;
}
#main
{
	display: flex;
	font-family: arial;
}
#jaune
{
	background-color: #FEC729;
	width: 30%;
	display: inline-block;
}
#maphoto
{
	border-radius: 50%;
	margin-left: 4em;
	padding-top: 2em;
}

#nom
{
	padding-top: 50px;
	margin-bottom: 90px;
	margin-left: 30px;
}
.div_de_gauche
{
	background-color: #454340;
	color: #FEC729;
	text-align: center;
	font-size: x-large;
	margin: 1.5em;
	margin-left: 0px;
	margin-right: 0px;
	}
	.information
	{
		line-height: 2em;
		margin-top: 0em;
		margin-bottom: 0em;
		margin-left: 2em;
		font-size: 1em;

	}
	div ul
	{
		list-style: none;
	}
.img
{
	width: 60px;
	height: 60px;
	margin-left: 1em;
}

#blanche
{
	width: 60%;
	margin-left: 5%;
	display: inline-block;
}

h1 strong
{
	color:#FEC729;
	font-family: sans-serif;
}


.titre
{
	margin-left: 1em;
	margin-bottom:0.5em;
	margin-top: 2em;
}

.droite
{
	display:flex;
	margin-bottom: 20px;

}

.yellowBorder
{
	border-top: solid 2px #FEC729;
	padding-top: 20px;
}

.petiteDivDroite
{
	width: 40%;
	margin-left: 6em;
}

.petiteDivGauche
{
	width: 40%;
}

.far
{
	font-size: 15px;
	color: #FEC729;
	margin-right: 10px;
}

.fas
{
	font-size: 10px;
	color: #FEC729;
	margin-right:10px;
}

.fa-graduation-cap
{
	font-size: 30px;
}

.fa-briefcase
{
	font-size: 30px;
}

.fa-pen
{
	font-size: 30px;
}